<p style="color: green"><%= notice %></p>

<div class="flex flex-col absolute inset-x-0 top-0">
  <div
    class="p-6 bg-sky-600 flex items-center justify-between w-full text-white"
  >
    <div>
      <a href="<%= groups_path %>">
        <box-icon name="arrow-back" color="white"></box-icon>
      </a>
    </div>
    <div class="flex-1 flex justify-center"><h4>TRANSACTIONS</h4></div>
  </div>
  <div class="bg-white border-b-2 border-gray-100 p-4">
    <div class="flex flex-col text-gray-600 divide-y divide-gray-100">
      <div class="flex justify-between items-center flex-1 pb-4">
        <p class="">Category Name</p>
        <p class="text-bold text-black text-lg">$0.00</p>
      </div>
      <div class="h-1/4 pt-2"><p class="text-xs">45 transactions</p></div>
    </div>
  </div>
</div>

<div class="px-4">
  <div
    class="flex w-full p-4 bg-white border-2 border-gray-100 gap-4 items-end mt-48"
  >
    <div class="w-20 h-20 bg-yellow-300"></div>
    <div class="flex-1">
      <div class="flex flex-col text-gray-400 divide-y-2 divide-gray-100">
        <div class="flex justify-between items-center flex-1 pb-4">
          <p class="">Transaction_item</p>
          <p class="text-bold text-black">$0.00</p>
        </div>
        <div class="h-1/4 pt-2">
          <p class="text-xs">
            <span class="italic">created on </span>12 Apr 2000
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="flex items-center p-4 bg-green-500 w-full text-white absolute inset-x-0 bottom-0"
>
  <div class="w-full flex justify-center">
    <%= link_to "Add Transaction", new_group_entity_path, class:'w-full
    text-center inline-block px-6 py-4 border-2 border-white text-white
    leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none
    focus:ring-0 transition duration-150 ease-in-out' %>
  </div>
</div>
